* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h2 {
    font-family: 'Fjalla One', 'sans-serif';
    color: #7F675B;
}

p {
    font-family: 'Cantarell', 'sans-serif';
    font-weight: 400;
    color: #462255;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:  #9D75CB;
}

.logo {
    color:#EEF0F2;
    text-transform: uppercase;
    font-family: 'Fjalla One', 'sans-serif';
    letter-spacing: 2px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    font-family: 'Cantarell', 'sans-serif';
    font-weight: 700;
    font-size: 14px;
    justify-content: space-around;
    width: 80%;
}

.nav-links a{
    color:#EEF0F2;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links a:hover{
    color: #C6C7C4;
}

.nav-links li{
    list-style: none;
}

.burger {
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color:#EEF0F2;
    margin: 5px;
}

.main-container{
    width: 100vw;
    height: 92vh;
    background-color: #EEF0F2;
    padding-top: 10px;
    padding-left: 15%;
    padding-right: 15%;
    ;
}

@media screen and (max-width: 678px){
    body{
        /* hide overflow of nav-links unselected */
        overflow-x: hidden;
        text-align: center;
    }
   .nav-links{
       position: absolute;
       display: flex;
       flex-direction: column;
       align-items: center;
       right: 0px;
       /* height is 100vh minus the nav-height */
       height:92vh;
       /* ensure it rests under the height of nav */
       top: 8vh;
       background-color:  #9D75CB;
       /* remove from the page */
       transform: translateX(100%);
       transition: transform 0.5s ease-in;
   }
   .nav-links a{
       font-size: 16px;
       letter-spacing: 2px;
       text-transform: uppercase;
       }
    
    .logo {
        font-size: 22px;
        letter-spacing: 2px;
    }

   .burger{
       display: block;
       cursor: pointer;
   }
}

.nav-active{
    transform: translateX(0%);
}

.profile_pic {
    border-radius: 50%;
}